[Unit]
Description=Prometheus Alertmanager v{{ alertmanager_version }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ alertmanager_user }}
Group={{ alertmanager_group }}
ExecStart={{ alertmanager_install_dir }}/alertmanager \
  --config.file={{ alertmanager_config_dir }}/alertmanager.yml \
  --storage.path={{ alertmanager_data_dir }} \
  --web.listen-address=0.0.0.0:{{ alertmanager_port }} \
  --log.level=info
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
SyslogIdentifier=alertmanager
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths={{ alertmanager_data_dir }}

[Install]
WantedBy=multi-user.target
