[Unit]
Description=Prometheus Monitoring System v{{ prometheus_version }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecStart={{ prometheus_install_dir }}/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_storage_retention }} \
  --storage.tsdb.retention.size={{ prometheus_storage_retention_size }} \
  --web.listen-address=0.0.0.0:{{ prometheus_port }} \
  --web.enable-lifecycle \
  --log.level=info
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
SyslogIdentifier=prometheus
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths={{ prometheus_data_dir }}

[Install]
WantedBy=multi-user.target
